*{
	box-sizing: border-box; 
}

body{
	margin: 0px;
	font-family: sofia-pro, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 17px;
	background-color: #F0F6F7;
}

section{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

header{
	color: white; /* more readable on an orange background */
	padding-top: 50px;
	padding-bottom: 50px;
}

img {
	border-radius: 7%;
	margin-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;	
}

#intro {
	background-color: #4F6D7A;
}

#manhole_covers{
	background-image: linear-gradient(#FF6A48, #FE9870);
}

#street_markings{
	background-image: linear-gradient(#FE9870, #F29A8C);
}

#network_hardware{
	background-image: linear-gradient(#F29A8C, #FE9870);
}

#cameras{
	background-image: linear-gradient(#FE9870, #FF6A48);
}

#manholes {
		background-color: #F4F9E9;
}

#markings {
		background-color: #F4F9E9;
}

#hardware {
		background-color: #F4F9E9;
}

#cam {
		background-color: #F4F9E9;
}


nav{
	width: 100%;
	height: 60px;
	background-color: #4F6D7A;
	font-family: sofia-pro, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
}

nav a, nav h3{
	float: left;
	margin: 0px;
	line-height: 60px;
	margin-left: 1em;
	margin-right: 1em;
	text-decoration: none;
}

nav a {
	color: white;
}

nav a:hover{
	text-decoration: underline; /* Hover styles to let people know they can click it */
}

#logo {
	font-size: 16px;
	color: #BFBDC1;
}

.g-row{
	width: 100%;
	overflow: hidden;
}

.g-row img{
	width: 80%; /*This makes all images in grids to be the size of their cell */
}

.g-50{
	width: 50%;
	float: left;
}

.g-30{
	width: 30%;
	float: left;
}

.g-70{
	width: 70%;
	float: left;
}

.show{
	border: 1px solid blue;
	padding: 2px;
}

.padded{
	padding: 20px; 
}

h1 {
	font-family: sofia-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 30px;
}

h3 {
	font-family: sofia-pro,sans-serif;
	font-weight: 700px;
	font-style: normal;
	font-size: 20px;
}